/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #root {
   min-height: 100vh;
 }

 .error-container{
    min-height: 300px;
    padding: 40px 245px;
    background-color: rgb(25,35,30);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .login-error{
    list-style-type: none;
    width: 60%;
    background: #fcd6d3;
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    left: 20%;
    margin-bottom: 12px;
    padding: 18px 18px 18px 24px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.5em;
 }

 .error-container img{
     margin-bottom: -97px;
     transform: scale(0.75)
 }

 .error-container h4{
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.5;
    font-weight: normal;
    color: rgba(215,219,216,0.8);
 }

  .error-container h3{
    margin-bottom: 30px;
    font-size: inherit;
    line-height: 1.5;
    font-weight: normal;
    color: rgba(215,219,216,0.8);
  }

 .error-container strong{
     color: white;
 }


 .error-footer{
    background: rgb(51, 60,56);
    min-height: 527px;
 }


 .everything{
     display: flex;
     flex-direction: row;
 }
 $imgKey: random(3);

 $list: yelp_splash_1, yelp_splash_2, yelp_splash_3;
 $nth: nth($list, $imgKey);

 #background{
    background-image: image-url("#{$nth}.jpg");
    height: 570px;
    padding-top: 30px;
    background-color: #333;
    background-size: cover;
    background-position: 50%;
}


.top-splash-content{
    max-height: 475px;
}

.logo-pic{
  padding: 50px 0;
}
.logo-pic img{
    display: flex;
    margin: 0 auto;
}

.search-bar{
    max-height: 35px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
}

.search-bar div{
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
}

.search-button{
    border-radius: 0 4px 4px 0;
    border: 0;
    background: #d32323;
    box-shadow: none;
    padding: 0 15px;
    height: 35px;
    align-items: center;
}

.search-button i{
    color: white;
    transform: scale(0.8);
}

body{
    margin: 0;
    min-height: 100vh;
 }

 .login-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
 }

 .login-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #d32323;
    max-height: 29px;
    padding: 12px;
 }

 .login-nav img{
     
     left: 960px;
     max-height: 30px;
     max-width: 80px;

 }

//  html {
//   height: 100%;
//   box-sizing: border-box;
// }

 .login-main-content{
    max-width: 960px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     padding-top: 60px;
     margin: 0 500px;
     padding-bottom: 36px;
 }


 .footer-container{
    grid-column-start: con_left;
    grid-column-end: con_right;
     border-top: 1px solid #ccc;
     background: rgb(245, 245, 245) bottom;
     height: 150px;
     width: 100%;
     margin: 0 auto;
     position: relative; 
 }

 .footer-image{
     display: flex;
 }

 .footer-image > img{
 
     height: 100px;
    width: 440px;
    margin: 0 auto;
 }

 .splash-mid-content{
     height: 400px;
     width: 100%;
     background: violet;
 }

 #sign-up-up{
   padding-bottom: 12px;
 }

 .login-text{
     color: #d32323;

 }

 .login-aside{
    margin: -30px 0;
}

.login-aside img{
    margin-top: -80px;
}

.login-form{
    margin-top:-80px;
    display: flex;
    background: transparent;
    padding: 0 18px;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
 }

 #signup_button-splash {
    display: inline;
    border: 2px solid white;
    border-radius: 4px;
    margin: 0;
    padding: 15px;
    background: transparent;
    color: white;

 }

 #signup_button {
    display: inline;
    border: 2px solid white;
    border-radius: 4px;
    margin: 0;
    padding: 0 15px;
}

body {
 font-family: ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

.login-form-login-text{
    /* position: absolute; */
    top: 50px;
    right: 300px;
}

.sign-up-log-in{
    color: gray;
    /* position: relative; */
    font-size: 13px;
    right: 35px;
}

.login-button{
     color: #fff;
    background: #d32323;
    border: 1px solid #d32323;
    background-image: none;
    background-repeat: no-repeat;
    transition: all 2s;
    transition-property: background-color, background-position, background-size, border-color;
    background-position: 50% 50%;
    background-size: 15000px 15000px;
    padding: 10px 13px;
    font-size: 16px;
    line-height: 1.3125em;
}

#login-button-splash{
  color: white;
}

#login-button-splash:hover{
    border-bottom: 1px solid white;

}

.home_session_links a {
  margin: 5px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;


      color: #fff;
    display: block;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;

  text-decoration: none;
}

.splash-content-container{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

.home_session_links{
    display: flex;
    justify-content: flex-end;
}


/* #find-input::after{
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 8px;
    width: 1px;
    background-color: #ccc;
} */


#login-form {
    width: 300px;
    height: 30px;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
select {
    width: 300px;
    height: 43px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background-color: #d32323;
    font-size: 16px;
    line-height: 1.3125em;
    font-weight: bold;
}

#demo_button {
    margin: 5px;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    padding-right: 0;
    color: #fff;
    display: block;
    padding: 9px 19px 10px;
    font-size: 12px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 4px;
    transition: 4.0s;
    transition-property: background-color,
    background-position,
    background-size,
    border-color;
}

#demo_button:hover {
    background-color: white;
    color: #666;
}

#find-input{
    font-size: 13px;
    width: 480px;
    height: 20px;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    border-top:transparent; 
    border-bottom:transparent; 
    border-left:transparent; 
    border-right: 1px solid lightgray;
    
}

#near-input{
    font-size: 13px;
    border: transparent;
    width: 434px;
    height: 20px;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
}

#search-button{
    background: transparent;
}

.business-index{
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.business-index-header{
    word-wrap: break-word!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
    font-weight: 700;
    font-size: 9px;
    line-height: 1.28571em;
    color: #d32323;
}

.business-index-container{
    height: 300px;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-direction: row;
}

.business-index{
    background: rgb(245, 245, 245);
}
.business-index-item{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 174px;
    border-radius: 4px 4px 0 0;
}

.splash{
    display: flex;
    flex-direction: column;
}

.top-img{
    max-height: 180px;
    min-height: 180px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    min-width: 298px;
    max-width: 298px;
}



.business-view-view .header {
  display: grid;
  grid-template-areas:
    "nav_left  nav_content   nav_right";
  background-color: red;
  grid-template-columns: 1fr 960px 1fr;
  grid-template-rows: 68px;

}
.business-view-view .header .nav_left {
  grid-area: nav_left;
}
.business-view-view .header .nav_right {
  grid-area: nav_right;
}

.business-view-view .header .nav_content {
  grid-area: nav_content;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.business-view-view .header .nav_content h1 {
  margin: auto;
  font-family: 'Courgette',
  cursive;
  font-size: 2em;
  padding: 10px;
  text-shadow: -1px 0 white,
  0 1px white,
  1px 0 white,
  0 -1px white;
}
.business-view-view .header .nav_content h1 a {
  color: black;
  text-decoration: none;
}

.business-view {
  width: 960;
  height: 443;
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-areas:
    "left  info     info     review   right"
    "left  map      images   images   right"
    "left-b  reviews  reviews  aside  right-b";

  grid-template-columns: 1fr auto auto auto 1fr;
  grid-template-rows: auto auto auto;
}

.left-b {
  background-color: white;
  grid-area: left-b;
  margin-top:-90px;
}

.right-b {
  background-color: white;
  grid-area: right-b;
  margin-top:-90px;
}
.business-view .left {
  grid-area: left;
}

.bottom {
  grid-area: bottom;
}

.business-view .right {
  grid-area: right;
}

.business-view .info {
  grid-area: info;
  line-height: 0.1;
  width: 555px;
  height: 112px;
  padding: 10px;
}

.business-view .map {
  grid-area: map;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  max-height: 300px;
  max-width: 330px;
  background-color: white;
  border: solid;
  border-width: 1px;
  position: relative;
  top: -30px;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
}

#actual-map img{
  width: 286px;
  height: 135px;
  object-fit: cover;
  z-index: 1;
  transition: all .2s; 
  max-height: 135px;
  max-width: 286px;
  border: 1px solid #ccc;
}

#actual-map img:hover{
  transform: scale(1);
  box-shadow: none;
}

.business-view .map address {
  font-style: normal;
}

.business-view .images {
  grid-area: images;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 660px;
  height: 220px;
}

.business-view .review {
  grid-area: review;
  width: 405px;
  height: 112px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.business-view .review button {
  color: #fff;
  background: #d32323;
  border: 1px solid #d32323;
  transition: all 0.5s ease-in-out;

  font-size: 14px;
  line-height: 1.28571em;
  padding: 8px 19px 9px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-stretch: 100%;
}

.business-view .review button:hover {
  opacity: 0.6;
}


.business-view .images img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  z-index: 1;
  transition: all .2s ease-in-out;
  
}

.business-view .images img:nth-child(2) {
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.business-view .images img:nth-child(odd):hover~img:nth-child(2) {
  width: 220px;
  height: 220px;
}

.business-view .images img:hover {
  width: 250px;
  height: 250px;
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aside{
  grid-area: aside;
  margin-top:-90px;
  text-align: right;
}

.business-view h1 {
  font-size: 36px;
}

.business-view address {
  font-size: 14px;
  font-weight: 700;
}

.reviews {
  list-style: none;
  margin-top: -90px;
  grid-area: reviews;
  background: white;
  padding-top: 90px;

}

.aside{
  background: white;
}

.hours{
  min-width: 36px;
  padding-top: 36px;
  padding-left: 30px;
  margin-bottom: 24px;
}

.business-info{
  min-width: 36px;
  padding-top: 36px;
  padding-left: 30px;
  margin-bottom: 24px;
}

.hours table{
  min-width: 54px;
  max-height: 18px;
  max-width: 130px;
  min-height: 18px;
  padding-right: 18px;
}

.hours table tr td{
  font-size: 14px;
  text-align: left;
  min-width: 54px;
  min-height: 18px;
}

.hours table{
  padding-left: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  border-left: 1px solid rgb(245, 245, 245);
}

.business-info table{
  padding-left: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  border-left: 1px solid rgb(245, 245, 245);
}

.hours th{
    padding-bottom: 16px;
    text-align: left;
    font-size: 16px;
    line-height: 1.3125em;
    color: #d32323;
    font-weight: 700;
}

.business-info th{
  padding-bottom: 16px;
    text-align: left;
    font-size: 16px;
    line-height: 1.3125em;
    color: #d32323;
    font-weight: 700;
}

.business-info table tr td{
  font-size: 14px;
  text-align: left;
  min-width: 54px;
  min-height: 18px;
}

#table-times{
  min-width: 130px;
  min-height: 18px;
}

#business-info-att{
  padding-bottom: 6px;
}

.address{
    display: block;
    font-style: normal;
    font-size: 12px;
}


.search-bar-nav{
    max-height: 35px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
}

#find-input-nav{
    font-size: 13px;
    width: 327.5px;
    height: 20px;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    border-top:transparent; 
    border-bottom:transparent; 
    border-left:transparent; 
    border-right: 1px solid lightgray;
    
}


#near-input-nav{
    font-size: 13px;
    border: transparent;
    width: 327.5px;
    height: 20px;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
}

.search-button-nav{
    border-radius: 0 4px 4px 0;
    border: 0;
    background: #bd1f1f;;
    box-shadow: none;
    padding: 0 15px;
    height: 35px;
    align-items: center;
}

.search-button-nav i{
    color: white;
    transform: scale(0.8);
}

.search-login{
  background: #d32323;
  border: 1px solid #bd1f1f;
      color: #fff;
    display: block;
    padding: 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 11px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.search-signup {
      background: #f5f5f5;
    color: #000;
        color: #fff;
    display: block;
    padding: 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 11px;
    border-radius: 3px;
     text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;


}

.search-login a:-webkit-any-link{
  color: white;
}

a:-webkit-any-link{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.rotate-phone i{
  color: rgb(91,91,91);
  transform: rotate(90deg)
}  


 .search-user-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #d32323;
    max-height: 29px;
    padding: 12px;
 }

 .search-user-nav img{
     
     left: 960px;
     max-height: 30px;
     max-width: 80px;

 }

 .single-result{
   width: 630px;
   min-height: 210px;
   padding-top: 18px;
   padding-bottom: 18px;
   display: flex;
   flex-direction: row;
   border-bottom: solid whitesmoke;
 }

//  .single-result-top-info{
//    display: flex;
//    flex-direction: row;
//    height: 68px;

//  }

 .highlight-review{
   overflow: hidden;
   max-height: 109px;
  //  FIX THIS
   margin-top: 15px;
 }

//  .highlight-review span{
//        border: solid 2px blue;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     width: 100px;
//     display: block;
//     overflow: hidden
//  }
 
 .single-result-thumb{
   width: 228px;
   height: 210px;
 }

 .single-result-thumb img{
   object-fit: cover;
   padding-right: 18px;
   border-radius: 4px;
   max-height: 210px;
   max-width: 210px;
   min-height: 210px;
   min-width: 210px;

 }

 .single-result-side-top{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
  }

  .single-result-phone-address{
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding-top: 5px;
  }

.single-result-side-top-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 275px;
}

.top-img-head {
  max-height: 35px;
  line-height: 0;
}

.top-img-head-2{
  background: white;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.top-img-link-2{
  font-size: 14px;
  line-height: 0;
  color: black;

}

.top-img-div{
  height: 180px;
  width: 298px;
}

 .single-result-side-right{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   font-size: 16px;
   padding-bottom: 5px;
 }

 .single-result-side{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   min-width: 402px;
   max-width: 402px;
   max-height: 210px;
   min-height: 210px;
 }

 .single-result-address{
  text-align: right;
  padding-top: 20px; 
  font-size: 12px;
 }

.search_results {
  display: grid;
  grid-template-areas:
    "nav_left nav_center nav_right"
    "con_left con_center con_right";

  background-color: #d32323;
  grid-template-columns: 1fr 960px 1fr;
  grid-template-rows: 64px;

}

.search_results .nav_left {
  grid-area: nav_left;
}
.search_results .nav_center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-area: nav_center;
  padding: 12px 0;
}

.search_results .nav_center img{
  max-height: 40px;
}

.search_results .nav_right {
  grid-area: nav_right;
}

.search_results .con_right {
  grid-area: con_right;
  background: white;
}

.search_results .con_right img{
  position: relative;
  left: -200px;
}

.search_results .con_center {
  grid-area: con_center;
  background: white;
}

.search_results .con_left {
  grid-area: con_left;
  background: white;
}

.map-info i{
  color: rgb(91,91,91);
}

.top-img-link{
  text-decoration: none;
  color: #0073bb;
  font-size: 16px;
}

.review-count{
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px 0;
  min-height: 24px;
  align-items: center;
}


.review-count img{
  max-width: 102px
}

#dollar-sign::after{
      content: "\A0\2022";
      color: gray;
      font-size: 10px;
      margin: 0 6px;
}

.single_review {
  display: grid;
  grid-template-areas: 
    "rssr_user rssr_rating"
    "rssr_user rssr_review"
    "rssr_user rssr_feedback";
  margin: 17px 0px;
  grid-template-rows: 30px 180px 5px;
  grid-template-columns: 217px 370px;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.rssr_user {
  display: flex;
  grid-area: rssr_user;
}

.rssr_user img{
  height: 60px;
  width: 60px;
  transform: scale(1);

}

.rssr_user img:hover{
  height: 60px;
  width: 60px;
}

.rssr_rating {
  grid-area: rssr_rating;
}

.rssr_review {
  grid-area: rssr_review;
  overflow: hidden;
  // FIX THIS
}

.rssr_feedback {
  grid-area: rssr_feedback;

}


.review-left{
  width: 37.5%;
}

.review-right{
  width: 62.5%
}

.review-index{
  width: 100%;
}

.star-one{
  padding-right: 8px;
	background: image-url('stars.png') no-repeat 0 0;
	width: 132px;
	height: 24px;
}

.star-one-five{
  padding-right: 8px;
	background: image-url('stars.png') no-repeat 0 -24px;
	width: 132px;
	height: 24px;
}

.star-two{
  padding-right: 8px;
	background: image-url('stars.png') no-repeat 0 -48px;
	width: 132px;
	height: 24px;
}

.star-two-five{
  padding-right: 8px;
	background: image-url('stars.png') no-repeat 0 -72px;
	width: 132px;
	height: 24px;
}

.star-three{
  padding-right: 8px;
	background: image-url('stars.png') no-repeat 0 -96px;
	width: 132px;
	height: 24px;
}

.star-three-five{
  padding-right: 8px;
	background: image-url('stars.png') no-repeat 0 -120px;
	width: 132px;
	height: 24px;
}

.star-four{
  padding-right: 8px;
	background: image-url('stars.png') no-repeat 0 -144px;
	width: 132px;
	height: 24px;
}

.star-four-five{
  padding-right: 8px;
	background: image-url('stars.png') no-repeat 0 -168px;
	width: 132px;
	height: 24px;
}
.star-five{
  padding-right: 8px;
	background: image-url('stars.png') no-repeat 0px -216px;
	width: 132px;
	height: 24px;
}

.map-info > :not(marquee){
        padding: 4px 0;
    }

  textarea:focus, input:focus{
    outline: none;
}