/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

 .everything{
     display: flex;
     flex-direction: row;
 }

 #background{
     background-image: url('yelp_splash_2.jpg');
    height: 475px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}


.top-splash-content{
    max-height: 475px;
}

.logo-pic img{
    transform: scale(0.4);
    display: flex;
    margin: 0 auto;
}

.search-bar{
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
}

.search-bar div{
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
}

.search-button{
    border-radius: 0 4px 4px 0;
    border: 0;
    background: #d32323;
    box-shadow: none;
    padding: 0 15px;
    height: 53px;
    align-items: center;
}

.search-button i{
    color: white;
    transform: scale(0.8);
}

body{
    margin: 0;
 }


 .login-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #d32323;
    max-height: 29px;
    padding: 12px;
 }

 .login-nav img{
     
     left: 960px;
     max-height: 30px;
     max-width: 80px;

 }

 .login-main-content{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     padding-top: 150px;
     margin: 0 300px;
     padding-bottom: 36px;
 }

 .login-main-content div{
     /* width: 50%;
    justify-content: flex-end;
    padding: 45px; */
 }


 .footer-container{
     border-top: 1px solid #ccc;
     background: rgb(245, 245, 245);
     position: absolute;
     bottom: 0;
     height: 150px;
     width: 100%;
     margin: 0 auto;
 }

 .footer-image{
     display: flex;
 }

 .footer-image > img{
     position: absolute;
     bottom: 20px;
     right: 38%;
     height: 100px;
    width: 440px;
    margin: 0 auto;
 }

 .splash-mid-content{
     height: 400px;
     width: 100%;
     background: violet;
 }

 .login-text{
     color: #d32323;

 }

 .login-aside{
    margin: -30px 0;
}

.login-aside img{
    margin-top: -80px;
    transform: scale(0.8)
}

.login-form{
    margin-top:-80px;
    display: flex;
    background: transparent;
    padding: 0 18px;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
 }

 #signup_button-splash {
    display: inline;
    border: 2px solid white;
    border-radius: 4px;
    margin: 0;
    padding: 15px;
    background: transparent;
    color: white;

 }

 #signup_button {
    display: inline;
    border: 2px solid white;
    border-radius: 4px;
    margin: 0;
    padding: 0 15px;
}

body {
 font-family: ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

.login-form-login-text{
    /* position: absolute; */
    top: 50px;
    right: 300px;
}

.sign-up-log-in{
    color: gray;
    /* position: relative; */
    font-size: 13px;
    right: 35px;
}

.login-button{
     color: #fff;
    background: #d32323;
    border: 1px solid #d32323;
    background-image: none;
    background-repeat: no-repeat;
    transition: all 2s;
    transition-property: background-color, background-position, background-size, border-color;
    background-position: 50% 50%;
    background-size: 15000px 15000px;
    padding: 10px 13px;
    font-size: 16px;
    line-height: 1.3125em;
}

.login-button-splash:hover{
    border-bottom: 1px solid white;

}

.home_session_links a {
  margin: 5px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;


      color: #fff;
    display: block;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;

  text-decoration: none;
}

.splash-content-container{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

.home_session_links{
    display: flex;
    justify-content: flex-end;
}


/* #find-input::after{
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 8px;
    width: 1px;
    background-color: #ccc;
} */

#near-input{
    border: transparent;
    width: 434px;
    height: 20px;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
}

#login-form {
    width: 300px;
    height: 30px;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
select {
    width: 300px;
    height: 43px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background-color: #d32323;
    font-size: 16px;
    line-height: 1.3125em;
    font-weight: bold;
}

#demo_button {
    margin: 5px;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    padding-right: 0;
    color: #fff;
    display: block;
    padding: 9px 19px 10px;
    font-size: 12px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 4px;
    transition: 4.0s;
    transition-property: background-color,
    background-position,
    background-size,
    border-color;
}

#demo_button:hover {
    background-color: white;
    color: #666;
}

#find-input{
    width: 480px;
    height: 20px;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    border-top:transparent; 
    border-bottom:transparent; 
    border-left:transparent; 
    border-right: 1px solid lightgray;

}

#search-button{
    background: transparent;
}