/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .background-splash{
    background: url('https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/fa8d73b85ad8/assets/img/home/hero_photos/J4bBEXXBIHmYLl50X1l72g.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
 }

 .logo-pic{
    opacity: 1;
 }

 .footer-container{
     border-top: 1px solid #ccc;
     background: rgb(245, 245, 245);
     position: absolute;
     bottom: 0;
     height: 300px;
     width: 100%;
     margin: 0 auto;
 }

 .footer-image{
     display: flex;
 }

 .footer-image > img{
     position: absolute;
     bottom: 20px;
     right: 28%;
     height: 100px;
    width: 440px;
    margin: 0 auto;
 }

 .splash-mid-content{
     height: 400px;
     width: 100%;
     background: violet;
 }

 .login-form-container{
     background: transparent;
 }

 #signup_button {
 border: 2px solid white;
 border-radius: 4px;
}

body {
 font-family: ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

.home_session_links a {
  margin: 5px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;

  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
  background: none;

  text-decoration: none;
}

.home_session_links{
    display: flex;
    justify-content: flex-end;
}
